<<<<<<< HEAD
link(rel="stylesheet", href="style.css")
link(rel="stylesheet", href="style2.css")
| Hello world from Index.pug file !!!
=======
link(rel="stylesheet", href="style.css")
link(rel="stylesheet", href="style2.css")
| Hello world from Index.pug file !!!
>>>>>>> 83c4380886b16c2ca168d09c7313658e1813b636
h1 Hello from style2.css in public2 folder.