<<<<<<< HEAD
extends layout 
block append stylesheet 
    link(rel="stylesheet", href="contactStyle.css")
block content 
    p Contact page...
block append scripts 
=======
extends layout 
block append stylesheet 
    link(rel="stylesheet", href="contactStyle.css")
block content 
    p Contact page...
block append scripts 
>>>>>>> 83c4380886b16c2ca168d09c7313658e1813b636
    script(src="contactScript.js") 