<<<<<<< HEAD
extends layout 
block stylesheet 
    link(rel="stylesheet", href="homeStyle.css")
block content 
    | Home page...
block scripts 
=======
extends layout 
block stylesheet 
    link(rel="stylesheet", href="homeStyle.css")
block content 
    | Home page...
block scripts 
>>>>>>> 83c4380886b16c2ca168d09c7313658e1813b636
    script(src="homeScripts.js") 