<<<<<<< HEAD
block stylesheet
    link(rel="stylesheet", href="layoutStyle.css")
block content 
block scripts
=======
block stylesheet
    link(rel="stylesheet", href="layoutStyle.css")
block content 
block scripts
>>>>>>> 83c4380886b16c2ca168d09c7313658e1813b636
    script(src="layoutScript.js") 